:root { 
  --black: #000000;
  --eerie-black: #1e1e1e;
  --fuscous-gray: #555555;
  --nobel: #b0b1b0;
  --robins-egg-blue: #00c0e8;
 
  --font-size-m: 11px;
 
  --font-family-roboto: "Roboto", Helvetica;
}
.bouutn {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}
